@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.Flipped{
    direction: rtl;
}
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: #888;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}